*{     /* *可以清除东西 */
	margin: 0;  /* 清除body身上的，8px*/ 
	text-decoration: none;    /* 清除下划线 */
	padding: 0; 
	box-sizing: border-box;    /* input 中的 */
	list-style: none;  /* 列表标签 */
	font-weight: normal;
	font-style: normal;
	border:0;
}
img{
	display: block;
	width: 100%;
	height: 100%;     /* 图片相关大小问题 */
}