.iconfont {
    font-family:"iconfont" !important;
    font-size:15px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'iconfont';  /* project id 401517 */
    src: url('http://at.alicdn.com/t/font_401517_vrd009dpeu18m2t9.eot');
    src: url('http://at.alicdn.com/t/font_401517_vrd009dpeu18m2t9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_401517_vrd009dpeu18m2t9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_401517_vrd009dpeu18m2t9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_401517_vrd009dpeu18m2t9.svg#iconfont') format('svg');
}
header{
    width: 100%;
    /* height: 80px; */
    /* background-color: #d0d0d0; */
}
body{
    background-color: #F3F3F3;
}
#tubudh{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: relative;
}
.logohwz{
    width: 1000px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo{
    width: 150px;
    height: 60px;
    background-color: #fff;
    margin-top: 16px;
    float: left;

}
.wenzi{
    width: 765px;
    height: 50px;
    background-color: #fff;
    float: right;
    margin-top: 30px;
}
.wenzi1{
    width: 100%;
    height: 22px;
    background-color: #fff;
}
.wenzi1kj{
    width: 75px;
    height: 100%;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    text-align: center;
    line-height: 22px;
}
.wenzi1kj a{
    color: black;
}
.wenzi1kj a:hover{
    color: yellowgreen;
}
.wenzi1kj1 a{
    color: yellowgreen;
}
.wenzi2{
    width: 75px;
    height: 5px;
    background-color: yellowgreen;
    margin-top: 23px;
    margin-left: 450px;
}

.toubu3{
    width: 100%;
    height: 150px;
    background-color: #000b27;
}
.toubu3-1{
    width: 960px;
    height: 150px;
    /* background-color: red; */
    margin: 0 auto;
}
.toubu4{
    width: 100%;
    height: 61px;
    background-color: #00833d;
    overflow: hidden;
}
.toubu4-1{
    width: 960px;
    height: 21px;
    /* background-color: yellow; */
    margin: 20px auto;
}
.toubu4-1 a{
    display: block;
    font-size: 14px;
    float: left;
    color: #fff;
}




section{
    width: 960px;
    height: 1300px;
    margin: 30px auto;
}
.neirong{
    width: 171px;
    height: 508px;
    border-right: 1px #ddd solid;
    float: left;
}
.neirong1{
    width: 100%;
    height: 51px;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
}
.neirong2{
    background-color: #fff;
}
.neirong1:hover{
    background-color: #e9e9e9;
}
.neirong2:hover{
    background-color: #e9e9e9;
}
.neirong1 a{
    display: block;
    line-height: 51px;
    font-size: 15px;
    text-align:center;
}
.neirong1 a{
    color: #000;
}
.neirong1 a:nth-child(1){
    color: yellowgreen;
}
.neirong2{
    width: 170px;
    height: 51px;
    background-color: #F3F3F3;
    border-bottom: 1px #ddd solid;
}
.neirong2 a{
    display: block;
    line-height: 51px;
    font-size: 15px;
    text-align:center;
}
.neirong2 a{
    color: #000;
}
.neirong2 a:hover{
    color: yellowgreen;
}
.neirong3{
    width: 739px;
    height: 1300px;
    /* background-color: yellow; */
    float: left;
    margin-left: 25px;
}
.dtp{
    width: 722px;
    height: 1273px;
}
.dtp img{
    width: 100%;
    height: 100%;

}



#zxmkj{
    width: 100%;
    height: 155px;
    background-color: #d4d6d7;
    position: relative;
}
.zxmwzs{
    width: 960px;
    height: 24px;
    background-color: #d4d6d7;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 24px;
    text-align: center;
}

.zxmwzs a{
    font-size: 14px;
    color: black;
    margin-left: 3px;
    color: #888888;
}
.zxmwzx{
    width: 550px;
    height: 36px;
    background-color: #d4d6d7;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
}
.gntp{
    width: 28px;
    height: 100%;
    background-color: #d4d6d7;

    float: left;
}
.zxmwzkj{
    width: 522px;
    height: 100%;
    background-color: #d4d6d7;
    float: left;
}
.zxmwzx h1{
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 15px;
}
.zxmwzx h2 {
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 15px;
}